/* FILTERS */

.filters {
  display: flex;
  margin: 5px 10px;
  justify-content: space-around;
  transition: 0.5s;

  &__roaster, &__company {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 5px;
    transition: 0.5s;
  }
}


.filters-dropdown {
  @include z-index('filters_dropdown');
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 0 5px;

  &__label {
    display: flex;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid brown;
    background-color: $clr-white;
    white-space: nowrap;

    &:hover { 
      cursor: pointer;
    }
  }

  &__menu {
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    max-height: 0;
    padding: 0;
    overflow: auto;
    transition: max-height 0.4s linear;
    background-color: $clr-white;
    // box-shadow: 0 2px 8px 0 $clr-grey;
    list-style: none;
  }

  .menu-item {
    padding: 4px 0;

    &:first-child {
      padding-top: 14px;
    }

    &:last-child {
      padding-bottom: 14px;
    }
  }

  &--open {
    .svg-icon {
      transform: rotate(0deg);
      transition-delay: 0s;
    }

    .filters-dropdown__menu {
      max-height: 300px;
    }
  }
}
