/* SHOP CARD */

.single-shop-page {
  border-radius: 5px;
  min-height: 100vh;
  overflow: auto;

  &__body {
    min-height: calc(100vh + -60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  &__upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 0;

    @include breakpoint-sm {
      padding: 30px 10px 0;
      flex-direction: row;
    }

    &--header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--logo {
      max-height: 150px;
      width: auto;
      max-width: 90%;
      margin-bottom: 10px;

      @include breakpoint-sm {
        margin-bottom: 25px;
      }
    }

    &--title {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;

      @include breakpoint-sm {
        font-size: 3rem;
        margin-bottom: 15px;
      }
    }

    &--text {
      margin: 10px 0;

      @include breakpoint-sm {
        max-width: 1100px;
      }

      .roaster {
        font-size: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        

        @include breakpoint-sm {
          font-size: 1.25rem;
          justify-content: center;
        }

        &--label {
          font-weight: 600;
        }
      }
    }
  }

  &__lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;

    &--location {
      display: flex;
      flex-direction: column;
    }

    &--text {
      @include breakpoint-sm {
        max-width: 1100px;
      }

      .about {
        margin: 10px 0;

        &__drink, &__info, &__special-info, &__locations {
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;

          &--label {
            font-weight: 600;
            margin-bottom: 5px;
          }

          &--text {
            max-height: 0px;
            transition: 0.3s ease-in;
            overflow: hidden;

            &.active {
              max-height: 500px;
            }
          }
        }

        &__drink {
          flex-direction: row;

          &--label {
            margin-right: 5px;
          }
        }
      }
    }

    .accordion-section {
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
    }
  }

  &__contact-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
    height: 60px;

  
    img {
      max-height: 25px;
    }

    .website {
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      background: $clr-white;
    }
  }
}