/* DISPLAY */

.hide {
  display: none !important;
}

.d-block {
  display: block !important;
}

.hide-sm-up {
  display: block !important;

  @include breakpoint-sm {
    display: none !important;
  }
}

.hide-md-up {
  display: block !important;

  @include breakpoint-md {
    display: none !important;
  }
}

.show-sm-up {
  display: none !important;

  @include breakpoint-sm {
    display: block !important;
  }
}

.show-to-md {
  @include breakpoint-md {
    display: none !important;
  }
}

.show-md-up {
  display: none !important;

  @include breakpoint-md {
    display: block !important;
  }
}

.show-to-lg {
  @include breakpoint-lg {
    display: none !important;
  }
}

.show-lg-up {
  display: none !important;

  @include breakpoint-lg {
    display: block !important;
  }
}
